body{
    background-color: black;
}
#topcar{
    position: relative;
}
.carousel-img-wrapper {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.3));
    z-index: 1;
}
#bground{
    width: 100%;
    object-fit:cover;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
}
#car_cont{
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 5%;
    width: 80%;
    max-width: 100%;
    /* border: 1px solid white; */
}
#cont1{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}
#p_img{
    width: 60%;
    height: auto;
}
#poster_img{
    width: 25vw;
    max-height: 40%;
    margin-bottom: 2rem;
  }
#ovr {
    color: white;
    font-size: 16px;
    display: -webkit-box;            
    -webkit-line-clamp: 4;         
    -webkit-box-orient: vertical;   
    overflow: hidden;                
    text-overflow: ellipsis;        
    white-space: normal;            
  }

#genre{
        color: white;
        font-size: 16px;
        white-space: normal;             
        position: relative;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items:center ;
}

.genre-item{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.genre-item::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: white;
}
hr {
    border: none;
    height: 1px;
    background-color: white; 
    margin: 2px 0;
}

#dovr{
    align-items: center;
    display: flex;
    left: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#dtitle h4{
    color: white;
    font-size: 60px;
    align-self: flex-start;
    display: none;
}
#cont{
    display: flex;
    flex-direction: column;
}
#crd{
    position: absolute;
    left: 5%;
    bottom: 10%;
    /* border: 1px solid white; */
    width: 80vw;
    z-index: 1;
    /* max-width: 100vw; */
}
#genres p{
    color: white;
}
#play{
    display: flex;
    align-items: start;
    justify-content: start;
    align-items: center;
}
#play button {
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5); 
    color: white;
    transition: 0.5s;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
}
#play a{
    text-decoration: none;
  }
#play button:hover{
    transform: scale(1,1);
    background-color: rgba(128, 128, 128, 0.873);
    color: white;
}

.imdb-sticker {
    width: 4vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
}

#imdb{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}
#rating{
    color: white;
    /* font-size: 25px; */
    font-size: 1.6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#rating i{
    color: gold;
    /* font-size: 25px; */
    font-size: 1.6vw;
}
#year{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
    font-weight: 600;
}

.navbar-brand{
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  color: yellow;
}

.navbar-brand :hover{
    color: red;
}

.topcont{
    position: relative;
}
.navbar {
    background-color: black;
    z-index: 10; 
    position: sticky;
    top: 0;
    width: 100%;
}
.nav-link{
    color: white;
    font-size: 18px;
    font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search{
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
    background-color: yellow;
    border:none ;
    outline: none; 
}

.search :hover{
    background-color: rgb(186, 186, 0);
    outline: none; 
}

.searchf{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-toggle-white {
    background-color: yellow;
    color: black;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    margin-bottom: auto;
    margin-top: auto;
    align-self: center;
  }
  
.dropdown-toggle-white:hover,
.dropdown-toggle-white:focus {
    background-color: yellow; 
    color: black; 
  }


  .nav-link-underline {
    position: relative;
  }
  
  .nav-link-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: yellow;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }
  
  .nav-link-underline:hover::after,
  .nav-link-underline:focus::after,
  .active::after{
    width: 100%;
    left: 0;
    background: yellow;  /* Set the underline color */
  }

  .carou-wrap{
    position: relative;
  }

  .indi {
    position: absolute;
    right: 2%;
    bottom: 5%;
    z-index: 1;
}

  .activef {
    border: 3px solid yellow;
    opacity: 1;
}


  .indi img{
    width: 5vw;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 5px;

}

#top_rated{
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#upcomming{
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#week_popular{
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#top_tv{
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#all_trend{
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pop_show{
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cat_head{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-left: 2vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
}


.owl-carousel {
    display: block;
    width: 100%;
    position: absolute;
    padding-left: 2vw;
    padding-right: 2vw;
}
.owl-carousel .item {
    display: block;
    width: 100%;
    height: auto;
}
.item-detail {
    color: white;
    width: 100%;
    position: absolute;
    bottom: -100%; 
    left: 0;
    transition: bottom 0.4s ease-in-out; 
    background-image: linear-gradient(to top, black, transparent);
    height: 100%;
    box-sizing: border-box; 
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    flex-direction: row;
}
.item-detail p {
    font-size: 1rem;
    margin-bottom: 20%;
    margin-left: auto ;
    margin-right: auto;
    color: white;
    font-weight: bold;
    text-align: center;
}
.item:hover .item-detail {
    bottom: 0; 
}
.custom-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    background-color: yellow;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.owl-prev {
    left: 0;
  }
  
  .owl-next {
    right: 0;
  }

.owl-nav {
    display: none !important;
}

#footer{
    background-color: black;
    overflow: hidden;
    width: 95vw;
    margin: auto;
    border-radius: 1vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
#fot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#fot h4{
    font-size: 30px;
    color: white;
    margin-top: 4vh;
}
#fot p{
    font-size: 20Px;
    color: yellow;
    font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}
#fot hr{
    width: 100%;
    height:1px;
}
#icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#icons i{
    margin-left: 2vw;
    font-size: 2vw;
    position: relative;
    z-index: 1;
}

.bi-facebook{
    color: #1877F2;
}
.bi-instagram{
    direction: none;
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCB045); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bi-linkedin{
    color: #0773ff;
}

.bi-github{
    color: white; 
}

.bi-twitter-x{
    color: white;
}
@media (max-width:1441px) {
    #bground{
        max-height: 90vh;
    }
    #dtitle h4{
        font-size: 50px;
    }
}

@media (max-width:1200px) {
    #bground{
        max-height: 90vh;
    }
    #dtitle h4{
        font-size: 45px;
    }
}


@media (max-width:1024px) {
    #bground{
        max-height: 90vh;
    }
    #dtitle h4{
        font-size: 40px;
    }
    #play button{
        font-size: 1.5vw;
        height: 90%;
    }
    .imdb-sticker{
        width: 5vw;
    }
    #rating{
        font-size: 1.8vw;
    }
    #rating i{
        font-size: 1.8vw;
    }
}

@media (max-width:900px) {
    #bground{
        max-height: 90vh;
    }
    #dtitle h4{
        font-size: 36px;
    }
    #play button{
        font-size: 0.8rem;
        height: 85%;
    }
    #rating{
        font-size: 1.9vw;
    }
    #rating i{
        font-size: 1.9vw;
    }
}

@media (max-width:800px) {
    #bground{
        max-height: 90vh;
    }
    #dtitle h4{
        font-size: 32px;
    }
}

@media (max-width:700px){
    #bground{
        max-height: 90vh;
    }
    #dtitle h4{
        font-size: 25px;
    }
    #ovr{
        font-size: 12px;
    }
    #genre{
        font-size: 12px;
    }
    #play button{
        font-size: 2vw;
        height: 90%;
    }
    .imdb-sticker{
        width: 6vw;
    }
    #rating{
        font-size: 2vw;
    }
    #rating i{
        font-size: 2vw;
    }
}


@media (max-width:600px) {
    #bground{
        height: 50vh;
    }
}
